.App {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgb(187, 85, 235), rgb(236, 99, 117));
    height: 100vh;
    min-height: 520px;
}